    <div id="banner" class="text-center banner"> 
      <h1 class="title bungee-tint-regular pt-5"> BIG BADA BOOM!!! </h1>
    </div>
    
    <div class="py-4 d-flex justify-content-center navbar  bungee-tint-regular">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/posts">Posts</a>
      <a class="nav-link" href="/new_post">New Post</a>
      <a class="nav-link" href="/edit_posts">Edit Posts</a>
    </div>